extends layout

block content

  h1 hello
  pre name_param: #{name_param}
  pre name_query: #{name_query}
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias ex quis excepturi temporibus blanditiis. Optio vitae impedit error numquam! Inventore aspernatur quasi at illum autem error perspiciatis maxime, ratione mollitia.

  ul
    li bla bla bla
    li bla bla bla
    li bla bla bla
    li bla bla bla
    li bla bla bla
    li bla bla bla
    li bla bla bla
    li bla bla bla
    li bla bla bla
    li bla bla bla


